* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 25px;
  color: white;
  background-color: rgb(3, 30, 150);
}

.main {
  height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
}

.outer_container {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  /* half of #content height*/
  left: 20%;
  width: 60%;
  text-align: center;
}

.outer_container_list {
  position: static;
  top: 50%;
  margin-top: -200px;
  /* half of #content height*/
  margin-left: 20%;
  width: 60%;
  text-align: center;
}

.inner_container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=password] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

input[type=submit] {
  width: 45%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding-left: 15px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

ul {
  font-size: .85rem;
  list-style: none;
}

.levelRendered {
  font-size: 1.2rem;
  line-height: 1.25rem;
}

.dateAndTime {
  line-height: 1.25rem;
}
.levelRendered2 {
  font-size: 1.2rem;
  line-height: 1.25rem;
}

.levelRendered2 li:nth-of-type(2) {
  font-size: .75rem;
}

.dateRendered {
  font-size: 1rem;
  /*line-height: 18px;*/
}

.timeRendered {
  font-size: .75rem;;
}

.delete {
  font-size: .7rem;
}

.info {
  justify-content: center;
  width: 100%;
}

.break {
  margin-top: 1%;
}

a {
  color: white;
}

.list {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
  text-align: center;
  background: white;
  color: black;
  border-radius: 20px;
  width: 40%;
  margin-left: 30%;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.listCreate {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
  text-align: center;
  background: white;
  color: black;
  border-radius: 20px;
  width: 25%;
  margin-left: 37%;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.level li:nth-of-type(2) {
  font-size: .75rem;
}

.dateList {
  display:flex; 
  flex-direction:row;
  justify-content: space-evenly;
}

.logout {
  text-align: right;
}

.delete:hover {
  cursor: pointer
}

.listMessage {
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 1320px) {
  .listCreate {
    width: 30%;
    margin-left: 35%;

  } 
}

@media screen and (max-width: 1200px) {
   h1 {
       font-size: 1.5rem;
   }
}

@media screen and (max-width: 1100px) {
  .listCreate {
    width: 37%;
    margin-left: 32%;

  } 
}

@media screen and (max-width: 1000px) {
  .inner_container {
      width: 50%;
  } 
  .list {
    width: 50%;
    margin-left: 25%;
  }
  .listCreate {
    width: 35%;
    margin-left: 32%;

  } 
  .listCreate {
    width: 40%;
    margin-left: 30%;

  }
}

@media screen and (max-width: 875px) {
  .listCreate {
    width: 40%;
    margin-left: 29%;

  } 
}

@media screen and (max-width: 700px) {
  .inner_container {
      width: 60%;
  } 
  input[type=submit] {
    font-size: .65rem;
  }
}

@media screen and (max-width: 650px) {
  .listCreate {
    width: 50%;
    margin-left: 26%;

  } 
}

@media screen and (max-width: 550px) {
  .listCreate {
    width: 55%;
    margin-left: 22%;

  } 
}

@media screen and (max-width: 505px) {
  .list {
    width: 60%;
    margin-left: 19%;
  }
}

@media screen and (max-width: 400px) {
  .list {
    width: 75%;
    margin-left: 12%;
  }
  .listCreate {
    width: 65%;
    margin-left: 16%;

  } 
}

@media screen and (max-width: 375px) {
  .listCreate {
    width: 75%;
    margin-left: 12%;
  } 
}

@media screen and (max-width: 350px) {
  .list {
    width: 90%;
    margin-left: 6%;
  }
  .listCreate {
    width: 80%;
    margin-left: 9%;

  } 
  input[type=submit] {
    font-size: .5rem;
  }
}

@media screen and (max-width: 285px) {
  .list {
    width: 95%;
    margin-left: 3%;
  }
  .listCreate {
    width: 90%;
    margin-left: 5%;

  } 
}

@media screen and (max-width: 262px) {
  .list {
    width: 100%;
    margin-left: 3%;
  }
}

@media screen and (max-width: 450px) {
  .inner_container {
      width: 70%;
  } 
}

@media screen and (max-width: 380px) {
  .inner_container {
      width: 80%;
  } 
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: .9rem;
  }
  ul {
      font-size: .5rem;
  }
  ol {
    font-size: .5rem;
  }
  p {
    font-size: .70rem;
  }
  .levelRendered {
    font-size: 1rem;
    line-height: 125%;
    
  }
  .levelRendered2 {
    font-size: 1rem;
    line-height: 130%
  }
  .dateRendered {
    font-size: .75rem;
    /*line-height: 15px;*/
  }
  .timeRendered {
    font-size: .5rem;;
  }
  .delete {
    font-size: .5rem;
  }
  .level li:nth-of-type(2) {
    font-size: .5rem;
  }
  .levelRendered2 li:nth-of-type(2) {
    font-size: .5rem;
  }
  .outer_container_list {
    line-height: 13px;;
  }
  
}

/*@media screen and  (max-height: 750px) {
  .main {
        overflow-y: auto;
        position: relative;
  }
  .outer_container {
    line-height: 15px;;
  }
}
  
@media screen and  (max-height: 750px) {  
  .outer_container {
    line-height: 20px;
  }
}

@media screen and  (max-height: 550px) {  
  .outer_container {
    line-height: 25px;
  }
}

@media screen and  (max-height: 450px) {  
  .outer_container {
    line-height: 228px;
  }
}

@media screen and  (max-height: 350px) {  
  .outer_container {
    line-height: 30px;
  }
}

@media screen and  (max-height: 260px) {  
  .outer_container {
    line-height: 35px;
  }
}

@media screen and  (max-height: 140px) {  
  .outer_container {
    line-height: 40px;
  }
}*/
