* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 25px;
  color: white;
  background-color: rgb(3, 30, 150);
}

h1 {
  font-size: 2rem;
}

p {
  font-size: .75rem;
}

.outer_container {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  /* half of #content height*/
  left: 0;
  width: 100%;
  text-align: center;
}

.inner_container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  text-align: center;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 45%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

ul {
  font-size: .85rem;
  list-style: none;
}

ol {
  text-align: left;
}

.info {
  text-align: center;
}

a {
  color: black;
}
.list {
  display:flex; 
  flex-direction:row;
  justify-content: space-evenly;
}

.dateList {
  display:flex; 
  flex-direction:row;
  justify-content: space-evenly;
}

.logout {
  text-align: right;
}

.delete:hover {
  cursor: pointer
}

@media screen and (max-width: 850px) {
   h1 {
       font-size: 1.5rem;
   }
   
}

@media screen and (max-width: 850px) {
  ul {
      font-size: .5rem;
  }
  
}