* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 25px;
  color: white;
  background-color: rgb(3, 30, 150);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
}

.outer_container {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  /* half of #content height*/
  left: 20%;
  width: 60%;
  text-align: center;
}

.inner_container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;

}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 45%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

ul {
  font-size: .85rem;
  list-style: none;
}

.levelRendered {
  font-size: 1.5rem;
  line-height: 20px;
}

.levelRendered2 {
  font-size: 1.5rem;
  line-height: 28px;
}

.dateRendered {
  font-size: 1rem;
}

.timeRendered {
  font-size: .75rem;;
}

.delete {
  font-size: .7rem;
}

.info {
  justify-content: center;
  width: 100%;
}

.break {
  margin-top: 1%;
}

a {
  color: black;
}

.list {
  display:flex; 
  flex-direction:row;
  justify-content:space-around;
  text-align: center;
  background: white;
  color: black;
  border-radius: 20px;
  
}

.level li:nth-of-type(2) {
  font-size: .75rem;
}

.dateList {
  display:flex; 
  flex-direction:row;
  justify-content: space-evenly;
}

.logout {
  text-align: right;
}

.delete:hover {
  cursor: pointer
}

@media screen and (max-width: 1200px) {
   h1 {
       font-size: 1.5rem;
   }
   
}

@media screen and (max-width: 1000px) {
  .inner_container {
      width: 50%;
  } 
}

@media screen and (max-width: 700px) {
  .inner_container {
      width: 60%;
  } 
}

@media screen and (max-width: 450px) {
  .inner_container {
      width: 70%;
  } 
}

@media screen and (max-width: 380px) {
  .inner_container {
      width: 80%;
  } 
}
@media screen and (max-width: 750px) {
  ul {
      font-size: .5rem;
  }
  .levelRendered {
    font-size: 1rem;
    line-height: 14px;
  }

  .levelRendered2 {
    font-size: 1rem;
    line-height: 19px;
  }
  
  .dateRendered {
    font-size: .75rem;
  }
  
  .timeRendered {
    font-size: .5rem;;
  }
  
  .delete {
    font-size: .5rem;
  }

  .level li:nth-of-type(2) {
    font-size: .5rem;
  }
  
}

